.App {
  text-align: center;
}

html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(255, 153, 0) 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}
.bgrats {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #fff700 50%, #101416 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bgkaa {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #39423e 50%, #22e393 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bgjew {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #8dd2fc 50%, #1bccba 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bgtae{
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, black 50%, #ff80d2 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bgXan{
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #2af0fa 50%, #a153cf 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bgKei {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #faa72e 50%, #966fd6 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bgver {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #0d0dde 50%, #fc0a3b 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bgvon {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, black 50%, white 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bgeri {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #c71a1a 50%, white 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bghels {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(13, 142, 121) 50%, #ff41ef 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
